<launch>
  <!-- Args -->
  <arg name="model"       default="$(find racecar_description)/urdf/racecar.xacro"/>
  <arg name="use_gui"     default="true"/>
  <arg name="open_rviz"   default="true"/>
  <arg name="rviz_config" default="$(find racecar_description)/rviz/racecar.rviz"/>

  <!-- Cargar URDF en /robot_description -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <!-- Publicadores TF y joints -->
  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher">
    <param name="publish_frequency" value="50"/>
  </node>

  <node if="$(arg use_gui)"
        pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"
        name="joint_state_publisher_gui"/>
  <node unless="$(arg use_gui)"
        pkg="joint_state_publisher" type="joint_state_publisher"
        name="joint_state_publisher"/>

  <!-- RViz -->
  <node if="$(arg open_rviz)" pkg="rviz" type="rviz" name="rviz"
        args="-d $(arg rviz_config)"/>
</launch>
