<launch>
  <arg name="cfg" default="$(find racecar_pure_pursuit_control)/config/pure_pursuit_control.yaml"/>

  <!-- Alias de compatibilidad: launch recomendado en core/. -->
  <include file="$(find racecar_pure_pursuit_control)/launch/core/controller.launch">
    <arg name="config" value="$(arg cfg)"/>
  </include>
</launch>
